
     body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin: 50px;
    }
    progress {
      width: 230px;
      height: 20px;
      border: 1px solid #ddd;
      border-radius: 5px;
      appearance: none;
    }

    progress::-webkit-progress-bar {
      background-color: #e0f7e0;
      border-radius: 5px;
    }

    progress::-webkit-progress-value {
      background-color: #4CAF50; /* Darker Green */
      border-radius: 5px;
    }

    progress::-moz-progress-bar {
      background-color: #4CAF50;
      border-radius: 5px;
    }

    progress::-ms-fill {
      background-color: #4CAF50;
      border-radius: 5px;
    }
